body {
  font-family: "Rubik", sans-serif;
  color: #113f67;
}
.title {
  text-align: center;
}
.weather-app {
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #e7eaf6;
  max-width: 900px;
  margin: 30px auto;
}
#searchCity {
  padding: 20px;
  width: 100%;
}
.search-button {
  background-color: #38598b;
  color: #e7eaf6;
  border-radius: 8px;
  border: 1px solid #38598b;
}
